@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

  #light {
    @apply mt-8 max-w-xl mx-auto text-center;
  }
  #light button {
    @apply bg-transparent mx-1 py-2 px-4 border-slate-400 border-2 rounded-lg shadow-sm transition ease-in-out duration-150 outline-none hover:bg-slate-300 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  #light img,
  #light svg {
    @apply w-8;
  }
  #light .meter {
    @apply flex h-12 overflow-hidden text-base bg-slate-300 rounded-lg mb-8;
  }
  #light .meter > span {
    @apply flex flex-col justify-center text-slate-900 text-center whitespace-nowrap bg-yellow-300 font-bold w-0;
    transition: width 2s ease;
  }
  #light form {
    @apply mt-10;
  }
  #light form .temps {
    @apply flex justify-center items-center space-y-0 space-x-10;
  }
  #light form .temps > div {
    @apply flex items-center;
  }
  #light form .temps > div input {
    @apply h-4 w-4 border-slate-300 text-slate-600 focus:ring-slate-500;
  }
  #light form .temps > div label {
    @apply ml-2 block text-sm font-bold text-slate-700;
  }
  

  div .guessrow {
    @apply grid grid-cols-5 justify-items-start gap-x-1 md:gap-x-2 max-w-md mx-auto;
  }

  div .guessbox p {
    @apply w-12 md:w-14 h-12 md:h-14 text-2xl md:text-3xl p-2 font-semibold text-center text-zinc-200 rounded-lg border-2 border-zinc-200;
  }
  div .keybox p {
    @apply w-6 md:w-8 h-6 md:h-8 text-lg md:text-xl font-semibold text-center items-baseline text-zinc-200 rounded-md border border-zinc-200;
  }
  div .guessbox p.correct,
  div .keybox p.correct {
    @apply bg-green-600;
  }
  div .guessbox p.wrong_letter,
  div .keybox p.wrong_letter {
    @apply bg-zinc-500;
  }
  div .guessbox p.wrong_position,
  div .keybox p.wrong_position {
    @apply bg-yellow-400;
  }
  div .guessbox p.used,
  div .keybox p.used {
    @apply bg-slate-400;
  }
  div .guessbox p.unused,
  div .keybox p.unused {
    @apply bg-slate-800;
  }
  div .guessbox p.none,
  div .keybox p.none {
    @apply bg-sky-500;
  }


