@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

  #light {
    @apply mt-8 max-w-xl mx-auto text-center;
  }
  #light button {
    @apply bg-transparent mx-1 py-2 px-4 border-slate-400 border-2 rounded-lg shadow-sm transition ease-in-out duration-150 outline-none hover:bg-slate-300 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  #light img,
  #light svg {
    @apply w-8;
  }
  #light .meter {
    @apply flex h-12 overflow-hidden text-base bg-slate-300 rounded-lg mb-8;
  }
  #light .meter > span {
    @apply flex flex-col justify-center text-slate-900 text-center whitespace-nowrap bg-yellow-300 font-bold w-0;
    transition: width 2s ease;
  }
  #light form {
    @apply mt-10;
  }
  #light form .temps {
    @apply flex justify-center items-center space-y-0 space-x-10;
  }
  #light form .temps > div {
    @apply flex items-center;
  }
  #light form .temps > div input {
    @apply h-4 w-4 border-slate-300 text-slate-600 focus:ring-slate-500;
  }
  #light form .temps > div label {
    @apply ml-2 block text-sm font-bold text-slate-700;
  }
  
  div .app_header {
    @apply flex px-4 py-2 mb-2 justify-between gap-x-4 border-b border-zinc-100 max-w-md mx-auto;
  }
  div .app_header h1 {
    @apply text-2xl md:text-4xl font-semibold uppercase text-zinc-200
  }
  div .app_header .icon {
    @apply w-6 md:w-8 h-6 md:h-8 text-zinc-200;
  }


  div .help_me {
    @apply flex rounded-lg m-auto p-2 gap-x-2 bg-slate-900 whitespace-nowrap text-zinc-200;
  }

  div .guessrow {
    @apply grid grid-cols-5 justify-items-center gap-x-1 md:gap-x-2 max-w-sm md:max-w-md mx-auto;
  }

  div .guessbox p {
    @apply w-12 md:w-16 h-12 md:h-16 text-2xl md:text-3xl p-2 font-semibold text-center text-zinc-200 rounded-lg border-2 border-zinc-200;
  }
  div .keybox p {
    @apply w-7 md:w-12 h-7 md:h-12 text-base sm:text-lg md:text-xl font-semibold text-center items-baseline text-zinc-200 rounded-md border border-zinc-200;
  }
  div .guessbox p.correct,
  div .keybox p.correct {
    @apply bg-green-600;
  }
  div .guessbox p.wrong_letter,
  div .keybox p.wrong_letter {
    @apply bg-zinc-500;
  }
  div .guessbox p.wrong_position,
  div .keybox p.wrong_position {
    @apply bg-yellow-400;
  }
  div .guessbox p.used,
  div .keybox p.used {
    @apply bg-slate-400;
  }
  div .guessbox p.unused,
  div .keybox p.unused {
    @apply bg-slate-800;
  }
  div .guessbox p.none,
  div .keybox p.none {
    @apply bg-sky-500;
  }
  div .bottom_row {
    @apply flex flex-row gap-x-1 md:gap-x-2;
  }
  div .bottom_row button {
    @apply width-40 bg-slate-800 uppercase py-0 text-base h-7 md:h-12 items-center font-semibold text-zinc-200 rounded-md border border-zinc-200;
  }

  div .legend {
    @apply flex flex-col gap-y-2 gap-x-2;
  }
  div .legend h1 {
    @apply col-span-2 text-xl font-medium text-zinc-200;
  }
  div .legend h2 {
    @apply text-lg font-medium text-zinc-200;
  }
  div .legend_groups {
    @apply flex flex-row flex-wrap rounded-lg gap-y-3 gap-x-4;
  }
  div .legend .legend_group {
    @apply flex flex-col grow p-2 rounded-md bg-zinc-800/70 gap-y-2;
  }
  div .legend .legend_key {
    @apply grid grid-flow-col auto-cols-max items-center gap-x-3;
  }
  div .legend_key .desc {
    @apply text-left text-base md:text-base font-medium text-zinc-300;
  }

  div .possible_words {
    @apply flex flex-row flex-wrap rounded-lg bg-slate-700/50 items-baseline;
  }
  div .possible_words h1 {
    @apply text-lg whitespace-nowrap font-medium text-zinc-200;
  }
  div .possible_words p {
    @apply ml-2 text-base font-medium text-zinc-300;
  }

  div .help_box {
    @apply flex rounded-lg p-4 bg-slate-700/50;
  }

  div .give_up {
    @apply flex flex-col flex-wrap items-center gap-y-3;
  }
  div .give_up h1 {
    @apply text-2xl whitespace-nowrap font-semibold text-zinc-200;
  }
  div .give_up p {
    @apply text-lg font-medium text-zinc-200;
  }

  div #settings-modal-bg {
    @apply bg-zinc-300/50;
  }
  div #settings-modal-container {
    @apply bg-slate-700;
  }
  div #settings-modal-close {
    @apply text-zinc-100;
  }
  div #settings-modal-content {
    @apply flex flex-col flex-wrap gap-y-10;
  }
  div #settings-verify-label {
    @apply text-lg text-zinc-200;
  }
